/* Import Google Fonts for Bigger Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-bigger {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Import Google Fonts for Smaller Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-smaller {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100; 
    
}

/* Universal Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.display-flex {
  display: flex;
}

/* Front-colors */
.primary-color {
  color: rgba(60, 60, 60, 1);
  font-weight: 600;
}

.black-1-p1{
  color: rgba(54, 57, 88, 1);
  font-weight: 600;
  font-size: 4rem;
}
.black-2-p1 {
  color: rgba(62, 62, 62, 1);
}

.orange-1-p1{
  color: rgba(255, 131, 103, 1);
  font-weight: 600;
  font-size: 4rem;

}

/* Header Styles */
.header-link a {
  text-decoration: none;
}
 
/* Navigation Bar */
.navbar{
  justify-content: space-between;
  text-align: right;
  margin-left: 980px;
  margin-right: 150px;
  margin-top: 40px;
  padding: 35px;
  font-size: 1rem;
}

/* Main Body Styles */
/* .part-1 {
  margin-left: ;
} */

/* section-1 styles */
.first-part-scenario {
  margin-top: 180px;
  margin-left: 140px;
  margin-right: 930px;
}

.first-part-description {
  font-size: 1rem;
  margin-top: 15px;
}

.primary-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 131, 103, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  height: auto;
  font-weight: 600;
}

.primary-btn:hover {
  background-color: rgba(103, 212, 255, 0.8);
}

.first-part-image {
  position: absolute;
  left: 850px;
  top: 100px;
  padding: 20px; /* Optional: adds space around the main image */
}

.first-part-image img {
  width: 465px;  
  height: 610px;
}

/* section-2 styles */

.second-part-scenario {
  margin-top: 300px;
  margin-left: 880px;
  margin-right: 150px;
}

.second-part-description {
  font-size: 1rem;
  margin-top: 10px;
}
.second-part-image {
  position: absolute;
  left: 120px;
  top: 640px;
  right: 850px;
  padding: 20px; /* Optional: adds space around the main image */
}

.second-part-image img {
  width: 480px;  
  height: 590px;
}

.download-btn {
  margin-top: 20px;
  padding: 10px 10px;
  background-color: rgba(255, 131, 103, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.download-btn::before {
  content: "⬇";
  font-size: 1.2em;
}